<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register to tongog-app</title>
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>
    <div class="container-register">
        <div class="form-register">
            <div class="form-register-topic">Log in 😺</div>
            <form action="/login" method="post" id="registerForm">
                <div class="step-register">Please log in to start app</div>
                <input id="email" type="email" id="email-input" name="email" placeholder="email" required>
                <input id="password" type="password" style="margin-top: 20px;" id="email-input" name="password" placeholder="password" required>
                <div id="wrong"></div>
                <div class="next-step">
                    <span class="next-step-span-left" onclick="window.location.href='/register'">< Register</span> 
                    <span class="next-step-span-right" onclick="submit()">Log in ></span>
                </div>
            </form>
        </div>
    </div>
    <script>
        function submit(){
            if(document.getElementById('email').value == ''){
                document.getElementById('wrong').innerHTML = 'Please enter your email!'
                return;
            } else if(document.getElementById('password').value == ''){
                document.getElementById('wrong').innerHTML = 'Please enter your password!'
                return;
            } else {
                document.getElementById('registerForm').submit();
            }
        }
    </script>
</body>
</html>